@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,600);

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F4F4F4;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

body header.header {
  width: 100%;
  background-color: #941A3F;
  height: 120px;
  text-align: center;
  padding: 18px;
}

body header.header .carbono-logo {
  height: 100%;
}

body article.content {
  max-width: 1100px;
  padding: 30px 5px;
}

@import "products";
