.products-list section.search-section {
  background-color: #ECEBEB;
  width: 100%;
  height: 80px;
  padding: 25px 40px;
  min-width: 360px;
}

.products-list input.search-input {
  border: none;
}

.products-list ul.products-items li {
  list-style: none;
  padding: 10px 40px;
  text-align: center;
}

.products-list ul.products-items li h4 {
  font-size: 20px;
  padding: 20px 20px 10px;
}

.products-list ul.products-items li .product-item-body {
  min-height: 100px;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.products-list ul.products-items li .product-item-body ul.mini-gallery li {
  padding: 9px 7px;
}

.products-list ul.products-items li .product-item-body ul.mini-gallery li > img {
  border-radius: 10px;
  padding: 0;
  width: 100%;
  height: 100px;
}

.products-list ul.products-items li .product-item-body .product-values {
  font-size: 18px;
}

.products-list ul.products-items li .product-item-body .product-values .price:before {
  content: "R$";
  display: inline-block;
  font-size: 13px;
}

.products-list ul.products-items li .product-item-body .product-values .code {
  font-size: 12px;
  color: #444;
  padding: 12px;
}

.products-list ul.products-items li .product-item-body .featured {
  position: absolute;
  color: white;
  background-color: #1CBF9E;
  padding: 3px 40px;
  text-transform: uppercase;
  font-size: 15px;
  right: -37px;
  top: 24px;
  font-weight: 900;
  transform: rotate(39deg);
}

@media only screen and (max-width: 576px) and (min-width: 330px) {
  .products-list ul.products-items li .product-item-body ul.mini-gallery li {
    width: 50%;
  }
}